<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Квитанция</title>
</head>
<body>
    {% block content %}
    <header>
        <div class="title">
            {{ firm.name }}
            <br/>
            <span>Ремонт компьютерной техники</span>
        </div>
        <div class="info">
            <ul>
                <li>{{ firm.address }}</li>
                <li>гор. {{ firm.phone }}, моб. +79648462000</li>
            </ul>
        </div>
        <p>
            <strong>КВИТАНЦИЯ СБ № {{ order.id }} от {{ order.order_date|date:'d.m.Y'}} г.</strong>
        </p>
    </header>
    <table border="1">
        <tr>
            <td>Устройство:</td>
            <td>{{ order.device_type }} {{ order.device_model }}</td>
        </tr>
        <tr>
            <td>В комплекте:</td>
            <td>{{ order.equipment }}</td>
        </tr>
        <tr>
            <td>Владелец:</td>
            <td>{{ order.customer }} {{ order.customer.address }}</td>
        </tr>
        <tr>
            <td>Заявленная неисправность:</td>
            <td>{{ order.defect }}</td>
        </tr>
        <tr>
            <td>Данные предварительного осмотра:</td>
            <td>{{ order.inspection }}</td>
        </tr>
        <tr>
            <td>Ориентировочная стоимость и время ремонта:</td>
            <td>{{ order.cost }} руб. до {{ order_date|date:'d.m.Y' }}</td>
        </tr>

    </table>

    <p class="text">
          1. Данный документ удостоверяет прием устройства для проведения диагностики на возможность ремонта.<br>
          2. Стоимость диагностики - 300 руб. При проведении ремонта стоимость диагностики - бесплатно.<br>
          3. Ремонт техники со следами влаги, коррозии, ударов, падений - выполняется без гарантийных обязательств (БЕЗ ГАРАНТИИ на выполненный ремонт).<br>
          4. Ремонт производится только на заявленные неисправности клиентом.<br>
          5. Сервисный центр не несет отвественность за возможную потерю данных в индивидуальной памяти устройства, связанную с заменой плат, установкой ПО, заменой носителя информации.<br>
          6. Оборудование с согласия клиента принято без разбора и проверки внутренних повреждений. Все повреждения, обнаруженные в результате диагностики оборудования, считаются произошедшими до приема оборудования по данной квитанции. В случае необходимости, сервисный ставляет за собой право произвести диагностику на месте, в присутствии клиента.<br>
          7. Заказчик принимает на себя риск, связанный с возможными проявлениями в аппаратуре дефектов, не указанных в заявленной неисправности, а так же риск возможной полной или частичной утраты работоспособности аппарата в процессе ремонта по причине грубых нарушений правил эксплуатации непосредственно пользователем оборудования - наличие следов попадания токопроводящих жидкостей, механических повреждений, либо других возможноных повреждений, связанных с неправильной эксплуатацией оборудования.<br>
          8. Максимальный срок ответственного хранения оборудования составляет 14 календарных дней, после установленного законом срока ремонта - не более 75 календарных дней с момента передачи оборудования в сервисный центр. По истечении указанного срока оборудование подлежит утилизации.<br>
          9. Через 10 дней с даты уведомления клиента об окончании ремонта, с последнего взимается плата за хранение в размере 30 руб./сутки.<br>
          10. Окончательное решение о приминение условий бесплатного гарантийного обслуживания принимается специалистом сервисного центра на основание результа диагностики оборудования.<br>
          11. Сервисный центр оставляет за собой право отказаться от условия гарантийного обслуживания и снять соответствующее оборудование с гарантии в следствии грубых нарушений правил эксплуатации оборудования, на основание проведенной диагностики, в установленные законом сроки.
    </p>
    <div class="sign">
        <p>
           ____________________________/ Заказчик /    ____________________________/ Исполнитель /
        </p>
        <p>
            Подпись клиента (работа выполнена полностью и в срок, к качеству претензий не имею)____________________
        </p>
    </div>
    <div class="copy">
        <div class="header">
        <div class="title">
            {{ firm.name }}
            <br/>
            <span>Ремонт компьютерной техники</span>
        </div>
        <div class="info">
            <ul>
                <li>{{ firm.address }}</li>
                <li>{{ firm.phone }}</li>
            </ul>
        </div>
        <p>
            <strong>КВИТАНЦИЯ СБ № {{ order.id }} от {{ order.order_date|date:'d.m.Y'}} г.</strong>
        </p>
    </div>
    <table border="1">
        <tr>
            <td>Устройство:</td>
            <td>{{ order.device_type }} {{ order.device_model }}</td>
        </tr>
        <tr>
            <td>В комплекте:</td>
            <td>{{ order.equipment }}</td>
        </tr>
        <tr>
            <td>Владелец:</td>
            <td>{{ order.customer }} {{ order.customer.address }}</td>
        </tr>
        <tr>
            <td>Заявленная неисправность:</td>
            <td>{{ order.defect }}</td>
        </tr>
        <tr>
            <td>Данные предварительного осмотра:</td>
            <td>{{ order.inspection }}</td>
        </tr>
        <tr>
            <td>Ориентировочная стоимость и время ремонта:</td>
            <td>{{ order.cost }} руб. до {{ order_date|date:'d.m.Y' }}</td>
        </tr>

    </table>
        <div class="sign">
            <p>
               ____________________________/ Заказчик /    ____________________________/ Исполнитель /
            </p>
            <p>
                Подпись клиента (работа выполнена полностью и в срок, к качеству претензий не имею)____________________
            </p>
        </div>
    </div>
    {% endblock %}
</body>

<style>
    body {
        max-width: 20cm;
        font-size: 14px;
        padding: 20px;
        margin: 0px;
    }

    .title {
        float: left;
        width: 350px;
    }
    .info ul {
        list-style: none;
    }
    table {
        width: 100%;
        border: 1px solid #444;
        border-collapse: collapse;
    }

    td {
        padding: 2px 5px;
    }
    .text {
        font-size: 10px;
    }

    .copy {
        margin-top: 50px;
        border-top: 1px dashed #ccc;
    }
    .sign {
        margin-top: 40px;
    }
</style>
</html>